.acms {
  border-radius: 25px;
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 200px;
  margin-top: 20px;
}

.acm {
  display: flex;
  background-color: #cdf5fd;
  border-radius: 20px;
  margin: 10px;
  margin-bottom: 20px;
  padding-right: 10px;
  justify-content: space-between;
}
.hotelnamesubmit {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}
.acmimg {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.acminfo {
  flex: 4;
  font-size: 28px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
.acminfo h3 {
  font-family: "Cinzel Decorative", cursive;
}
.acminfo p {
  font-size: 20px;
}
.acmend {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  font-family: "Young Serif", serif;
  font-size: 25px;
}
.acmend p {
  color: rgb(255, 255, 255);
  background-color: #007bff;
  border-radius: 25px;
  padding: 5px 8px;
}
.imgsrc {
  height: 150px;
  width: 250px;
  border-radius: 20px;
  padding: 10px;
}
