.imgsrc {
  flex: 1;
  height: 300px;
  border-radius: 20px;
  padding: 10px;
  background-color: rgba(121, 179, 234, 0.931);
  margin: 10px;
}
.namedesc {
  flex: 4;
  font-size: 28px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgba(121, 179, 234, 0.931);
  height: fit-content;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
}
.namedesc h3 {
  color: #fe0000;
  font-family: "Cinzel Decorative", cursive;
}
.namedesc p {
  font-size: 20px;
  color: #895500;
}
.hotel {
  flex: 3;
}
.booking {
  flex: 1;
}
.imgdesc {
  display: flex;
}
.impdetails {
  display: flex;
  background-color: rgba(121, 179, 234, 0.931);
  height: fit-content;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
  justify-content: space-evenly;
}
.impdetails p {
  background-color: #ffffffc4;
  margin: 5px 0px;
  padding: 5px;
  border-radius: 12px;
  font-family: "Young Serif", serif;
  font-size: 25px;
  color: #007bff;
}
