.description {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 15px;
  border-radius: 10px;
  column-gap: 20px;
}
.description > .imgsrc {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  padding: 15px;
  background-color: #cdf5fd;
}
.title {
  font-family: "Cinzel Decorative", cursive;
  text-align: center;
  font-size: 3rem;
}
.acmdesc {
  font-size: 1.5rem;
  text-align: center;
}
.impdetails {
  display: flex;
  height: fit-content;
  border-radius: 25px;
  justify-content: space-evenly;
}
.impdetails p {
  background-color: #a0e9ff;
  margin: 5px 0px;
  padding: 5px;
  border-radius: 12px;
  font-family: "Young Serif", serif;
  font-size: 2rem;
}
.accommodation-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 25px;
  background-color: #cdf5fd;
  border-radius: 20px;
}
