*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
body{
    height: 100vh;
    overflow: hidden;
    background-image: url(Images/hpbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.Profilebuttons{
    display: flex;
}.Searchbar{
    display: flex;
    align-items: baseline;
}
.Searchform{
    flex: 1;
    display: flex;
    justify-content: center;
}
.searchicon{
    padding-top: 25px;
    width: 25px;
    margin-left: -50px;
}
.searchbutton{
    border: none;
}
.Search{
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 10px;
    max-width: 600px;
    flex: 1;
   
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff; 
    text-decoration: none; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    height: 35px;
    margin: 10px;
    font-size: 12px;
}
.Header{
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
    padding-top: 30px;
}
.Heading{
    font-family: 'Young Serif', serif;
    font-size: 50px;
    color: rgb(41, 89, 223);
    background-color: rgba(21, 70, 204, 0.295);
    border-radius: 50px;
}
