<!DOCTYPE html>
<head>
    <title>
        OneyesExplora
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='css/Images/favicon.png') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div>
    <div class="Header">
        <div>
            <a href="http://127.0.0.1:8081"><h1 class="Heading">OneyesExplora!!</h1></a>
        </div>
        <div class="Profilebuttons">
            {% if show_profile_button %}
                <a href="{{url_for('promote')}}" class="button" >Profile</a>
                <form id="postForm" method="post" action="{{url_for('logout')}}">
                    <input type="hidden">
                    <button type="submit" class="button">Logout</button>
                </form>
            {% else %}
                <a href="{{url_for('login')}}" class="button">Login</a>
            {% endif %}
        </div>
    </div>
    <div class="Searchbar">
        <form action="{{url_for('Homepage')}}" method="get" class="Searchform">
            <input type="text" name="query" placeholder="Search..." class="Search">
            <button type="submit" class="searchbutton"><img src="{{ url_for('static', filename='css/Images/searchicon.png') }}" class="searchicon"></button>
        </form>
    </div>
    </div>
    <div class="acmbody">
    <div class="acms">
        {% for accommodation in accommodations %}
        {% if query is none or accommodation.name.lower().startswith(query) %}   
            <div class="acm">
                <div class="acmimg">
                    <img src="{{ accommodation.image }}" alt="Accommodation Image" class="imgsrc">
                </div>
                <div class="acminfo">
                    
                    <h3>{{ accommodation.name }}</h3>
                    <p>{{ accommodation.description }}</p>
                    
                </div>
                <a href="{{url_for('booking')}}?acmid={{accommodation.acmid}}" class="button">Book</a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    </div>
</body>