<!DOCTYPE html>
<head>
    <title>
        OneyesExplora
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='css/Images/favicon.png') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/filter.js') }}"></script>
</head>
<body>
    <div>
    <div class="Header">
        <div>
            <a href="http://127.0.0.1:8081"><h1 class="Heading">OneyesExplora!!</h1></a>
        </div>
        <div class="Profilebuttons">
            {% if show_profile_button %}
                <a href="{{url_for('promote')}}" class="button" >Profile</a>
                <form id="postForm" method="post" action="{{url_for('logout')}}">
                    <input type="hidden">
                    <button type="submit" class="button">Logout</button>
                </form>
            {% else %}
                <a href="{{url_for('login')}}" class="button">Login</a>
            {% endif %}
        </div>
    </div>
    <div class="Searchbar">
        <form action="{{url_for('Homepage')}}" method="get" class="Searchform">
           <img src="{{ url_for('static', filename='css/Images/filter.png') }}" class="filtericon">
            <script src="script.js"></script>
            <div class="filter">
                <input type="radio" id="priceip" name="sort" value="price">
                <label for="priceip">Price &#8593;</label><br>
                <input type="radio" id="pricedn" name="sort" value="price desc">
                <label for="pricedn">Price &#8595;</label><br>
                <input type="radio" id="rating" name="sort" value="rating desc">
                <label for="rating">Rating &#8595;</label><br>
            </div>
            <input type="text" name="Name" placeholder="Name" class="Search">
            <input type="text" name="location" placeholder="Location" class="Search">
            <input type="date" name="checkin" placeholder="Checkin..." class="Search">
            <input type="date" name="checkout" placeholder="Checkout..." class="Searchdate">
            <button type="submit" class="searchbutton"><img src="{{ url_for('static', filename='css/Images/searchicon.png') }}" class="searchicon"></button>
        </form>
    </div>
    </div>
    <div class="acmbody">
    <div class="acms">
        {%if length ==0 %}
            <p class="filteredout">All Accommodations Filtered Out!!</p>
        {% endif %}
        {% for accommodation in accommodations %}
        {% if query is none or accommodation.name.lower().startswith(query) %}   
            <div class="acm">
                <div class="acmimg">
                    <img src="{{ accommodation.image }}" alt="Accommodation Image" class="imgsrc">
                </div>
                <div class="acminfo">
                    
                    <h3>{{ accommodation.name }}</h3>
                    <p>{{ accommodation.description }}</p>
                    
                </div>
                <div class="acmend">
                    <p>{{ accommodation.rating }}&#128970;</p>
                    <a href="{{url_for('booking')}}?acmid={{accommodation.acmid}}" class="button">Book</a>
                </div>
                
            </div>
            {% endif %}
        {% endfor %}
    </div>
    </div>
</body>