<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Signup-oneyesExplora</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}"> 
    <link rel="icon" href="{{ url_for('static', filename='css/Images/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='js/signup.js') }}"></script>
</head>
<body>
    <div class="center">
        <div class="boxhead">
            <a href="{{url_for('Homepage')}}"><img src="{{ url_for('static', filename='css/Images/icon.png') }}"></a>
            <h1 style="flex: 1;">Signup</h1>
          </div>
        <form method="post" action="{{ url_for('signup') }}"> 
            <div class="txt_field">
                <input type="text" id="mailid" name="mailid">
                <span id="username-error" class="error-message"></span>
                <label for="mailid">Email</label> 
            </div>
            <div class="txt_field">
                <input type="password" name="password" id="password" >
                <span></span>
                <label>Password</label>
                <div id="password-errors" class="passerror"></div>
            </div>
            <div class="txt_field">
                <input type="password" name="confirm_password" id="confirm_password" >
                <span></span>
                <label>Confirm Password</label>
                <div id="cnfpwd-errors" class="cnfpasserror"></div>
            </div>
            <div class="txt_field">
                <input type="text" name="name" id="name" >
                <span></span>
                <label>Name</label>
            </div>
            <div class="txt_field">
                <input type="text" name="address" >
                <span></span>
                <label>Address</label>
            </div>
            <div class="txt_field">
                <input type="text" pattern="^[6-9][0-9]{9}$" maxlength="10" name="phno" >
                <span></span>
                <label>Phone Number</label>
            </div>
            <input type="submit" value="Signup" id="submit">
            <div class="login_link">
                Already a member? <a href="{{ url_for('login') }}?ap=1">Login</a>
            </div>
        </form>
    </div>
</body>
</html>
