<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Signup-oneyesExplora</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}"> 
    <link rel="icon" href="{{ url_for('static', filename='css/Images/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='js/signup.js') }}"></script>
</head>
<body>
    <div class="center">
        <div class="boxhead">
            <a href="{{url_for('Homepage')}}"><img src="{{ url_for('static', filename='css/Images/icon.png') }}"></a>
            <h1 style="flex: 1;">Signup</h1>
          </div>
        <form method="post" action="{{ url_for('signup') }}"> 
            <div class="txt_field" style="grid-column: span 2;">
                <input type="text" id="mailid" name="mailid">
                <span id="username-error" class="error-message"></span>
                <label for="mailid">Email</label> 
            </div>
            <div class="txt_field">
                <input type="password" name="password" id="password" >
                <span></span>
                <label>Password</label>
                <div id="password-errors" class="passerror"></div>
            </div>
            <div class="txt_field">
                <input type="password" name="confirm_password" id="confirm_password" >
                <span></span>
                <label>Confirm Password</label>
                <div id="cnfpwd-errors" class="cnfpasserror"></div>
            </div>
            <div class="txt_field">
                <input type="text" name="name" id="name" >
                <span id="name-error" class="error-message"></span>
                <label>Name</label>
            </div>
            <div class="txt_field">
                <input type="text" id="phno" maxlength="10" name="phno" >
                <span id="phno-error" class="error-message"></span>
                <label>Phone Number</label>
            </div>
            <div class="txt_field" style="grid-column: span 2;">
                <input type="text" name="address" >
                <span></span>
                <label>Address</label>
            </div>
            <script>
                var sdjson = '{{ sdjson | tojson | safe }}';
                let cdjson = '{{ cdjson | tojson | safe }}';
                let pdjson = '{{ pdjson | tojson | safe }}';
            </script>
            <div class="sd">
                <select id="countryDropdown" name="country">
                    <option value="">Select a country</option>
                </select>
                </div>
            <div class="sd">
            <select id="stateDropdown" name="state">
                <option value="">Select a state</option>
            </select>
            </div>
            <div class="sd">
            <select id="districtDropdown" name="district">
                <option value="">Select a district</option>
            </select>
            </div>
            <div class="sd">
                <select id="Pincode" name="pincode">
                    <option value="">Select Pincode</option>
                </select>
                </div>
            <div class="login_link">
                Already a member? <a href="{{ url_for('login') }}?ap=1">Login</a>
            </div>
            <input type="submit" value="Signup" id="submit">
        </form>
    </div>
</body>
</html>
