<!DOCTYPE html>
<html>
    <head>
        <title>
            Booking 
        </title>
        <link rel="icon" href="{{ url_for('static', filename='css/Images/favicon.png') }}" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/booking.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/booking.js') }}"></script>
        <script src="{{ url_for('static', filename='js/filter.js') }}"></script>
    </head>
    <body>
        <div>
            <div class="Header">
                <div>
                    <a href="{{url_for('home',v=0)}}"><h1 class="Heading">OneyesExplora!!</h1></a>
                </div>
                <div class="Profilebuttons">
                        {% if admin=='1' %}
                        <a href="" class="button">Dashboard</a>
                        {% endif %}
                        <a href="{{url_for('home',v=1)}}" class="button" >Profile</a>
                        <form id="postForm" method="post" action="{{url_for('register')}}">
                            <input type="hidden">
                            <button type="submit" class="button">Logout</button>    
                        </form>
                </div>
            </div>
        </div>
            <div class="acminfo">
                <div class="hotel">
                    <div class="imgdesc">
                        <img src="{{ acm.imgurl }}" alt="Accommodation Image" class="imgsrc">
                        <div>   <div class="namedesc">
                            <h3>{{ acm.name }}<h3>
                            <p>{{ acm.description }}</p>
                        </div>
                        <div class="impdetails">
                            <p>Location:{{acm.location}}</p>
                            <p>{{acm.rating}}&#128970;</p>
                            <p>Contact:{{acm.phno}}</p>
                            <p>&#x20B9;{{acm.price}}/Day</p>
                        </div></div>
                    </div>
                    <div class="rr">
                        <div class="filters">
                            <button class="button" id="sortByRatingButton">Rating &uarr;</button>
                            <button class="button" id="sortByRatingdButton">Rating &darr;</button>
                            <button class="button" id="sortByDateButton">Recent</button>
                        </div>
                        <div class="reviews">
                            <form method="post" action="{{url_for('addreviews', acmid=acm.mailid)}}">
                                <div class="rating">
                                    <label for="rating1">
                                        <input type="radio" name="rating" id="rating1" value="1" required> 1&#128970;
                                    </label>
                                    <label for="rating2">
                                        <input type="radio" name="rating" id="rating2" value="2"> 2&#128970;
                                    </label>
                                    <label for="rating3">
                                        <input type="radio" name="rating" id="rating3" value="3"> 3&#128970;
                                    </label>
                                    <label for="rating4">
                                        <input type="radio" name="rating" id="rating4" value="4"> 4&#128970;
                                    </label>
                                    <label for="rating5">
                                        <input type="radio" name="rating" id="rating5" value="5"> 5&#128970;
                                    </label>
                                </div>
                                <textarea name="userreview" id="myText" placeholder="Write your review!!" class="userrev"></textarea>
                                <input type="submit" value="Submit" class="revbutton">
                            </form>
                        </div>
                        <script>
                            var reviews = '{{ reviews | tojson | safe }}';
                        </script>
                        <div id="reviewsContainer">
                            <!-- Reviews will be displayed here -->
                        </div>
                    </div>
                </div>
                <div class="booking">
                    <form method="post">
                        <div class="txt_field">
                          <label>Checkin</label>
                          <input type="date" name="checkin" id="checkin" min={{min_date}} max={{max_date}} required>
                          <script>
                            var bdates = '{{ bdates | tojson | safe }}';
                            var blockeddates = '{{ blockeddates | tojson | safe }}';

                        </script>
                        </div>
                        <div class="txt_field">
                            <label>Checkout</label>
                            <input type="date" name="checkout" id="checkout" min={{min_date}} max={{max_date}} required>
                        </div>
                        <span class="bills">
                        <div class="bill" id="bill">
                            <script>pricePerNight="{{acm.price}}"</script>
                            <span><p>Price:</p><p id="price"></p></span>
                            <span><p>18% SGST:</p><p id="SGST"></p></span>
                            <span><p>18% CGST:</p><p id="CGST"></p></span>
                            <hr>
                            <span><p>Total:</p><p id="Totalprice"></p></span>
                        </div></span>
                        <div class="submitbuttons">
                          <input type="submit" value="Book" formaction="{{url_for('ptp')}}?acmid={{acm.mailid}}">
                        </div>
                      </form>
                </div>
            </div>
    </body>
</html>