<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/booking.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='css/Images/favicon.png') }}" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/booking.js') }}"></script>
    </head>
    <body>
        <div>
            <div class="Header">
                <div>
                    <a href="http://127.0.0.1:8081"><h1 class="Heading">OneyesExplora!!</h1></a>
                </div>
                <div class="Profilebuttons">
                        <a href="{{url_for('register')}}" class="button" >Profile</a>
                        <form id="postForm" method="post" action="{{url_for('register')}}">
                            <input type="hidden">
                            <button type="submit" class="button">Logout</button>    
                        </form>
                </div>
            </div>
        </div>
            <div class="acminfo">
                <div class="hotel">
                    <div class="imgdesc">
                        <img src="{{ acm.imgurl }}" alt="Accommodation Image" class="imgsrc">
                        <div>   <div class="namedesc">
                            <h3>{{ acm.name }}<h3>
                            <p>{{ acm.description }}</p>
                        </div>
                        <div class="impdetails">
                            <p>Location:{{acm.location}}</p>
                            <p>{{acm.rating}}&#128970;</p>
                            <p>Contact:{{acm.phno}}</p>
                            <p>&#x20B9;{{acm.price}}/Day</p>
                        </div></div>
                    </div>
                    <div class="rr">
                        {% for review in reviews %}
                            <div class="reviews">
                                <div class="rating">
                                    <h4>{{review.userid}}</h4>
                                    <h4>{{review.rating}}&#128970;</h4>
                                </div>
                                <div class="rev">
                                    <p>{{review.review}}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="booking">
                    <form method="post">
                        <div class="txt_field">
                          <label>Checkin</label>
                          <input type="date" name="checkin" id="checkin" min={{min_date}} max={{max_date}} required>
                          <script>
                            var blockedDates = '{{ bdates | tojson | safe }}';
                        </script>
                        </div>
                        <div class="txt_field">
                            <label>Checkout</label>
                            <input type="date" name="checkout" id="checkout" min={{min_date}} max={{max_date}} required>
                        </div>
                        <div class="submitbuttons">
                          <input type="submit" value="Book" formaction="http://127.0.0.1:8081/login/?ap=0">
                        </div>
                      </form>
                </div>
            </div>
    </body>
</html>